In [1]:
import pandas as pd
import get_data

## Read Taxas Tesouro Direto

In [2]:
td_datasets = get_data.TesouroDiretoDatasets()

In [3]:
taxas = td_datasets.read_taxas()

In [4]:
vendas = td_datasets.read_vendas()

In [6]:
taxas

,Tipo Titulo,Data Vencimento,Data Base,Taxa Compra Manha,Taxa Venda Manha,PU Compra Manha,PU Venda Manha,PU Base Manha
0,Tesouro Renda+ Aposentadoria Extra,2049-12-15,2023-11-08,5.83,5.95,1761.44,1732.70,1732.70
1,Tesouro Renda+ Aposentadoria Extra,2069-12-15,2023-11-08,5.98,6.10,542.38,521.67,521.67
2,Tesouro Renda+ Aposentadoria Extra,2084-12-15,2023-11-08,5.98,6.10,227.57,215.21,215.21
3,Tesouro Renda+ Aposentadoria Extra,2074-12-15,2023-11-08,5.98,6.10,406.04,388.34,388.34
4,Tesouro Educa+,2040-12-15,2023-11-08,5.82,5.94,1827.67,1797.36,1797.36
...,...,...,...,...,...,...,...,...
138037,Tesouro Selic,2010-03-17,2009-08-25,0.00,0.01,3981.85,3981.63,3980.30
138038,Tesouro Selic,2011-03-16,2009-08-25,0.00,0.02,3981.85,3980.62,3979.29
138039,Tesouro Selic,2012-03-07,2009-08-25,0.00,0.03,3981.85,3978.84,3977.51
138040,Tesouro Selic,2013-03-07,2009-08-25,0.00,0.04,3981.85,3976.26,3974.93
138041,Tesouro Selic,2014-03-07,2009-08-25,0.00,0.04,3981.85,3974.66,3973.33

In [5]:
vendas

,Tipo Titulo,Vencimento do Titulo,Data Venda,PU,Quantidade,Valor
0,Tesouro Prefixado,2002-12-04,2002-04-18,897.223977,181.00,162397.53
1,Tesouro IGPM+ com Juros Semestrais,2031-01-01,2002-04-18,1354.170000,22.00,29791.74
2,Tesouro Selic,2007-01-17,2002-04-19,1292.989655,11.60,14998.67
3,Tesouro Prefixado,2003-04-02,2002-04-19,844.827380,16.80,14193.09
4,Tesouro Prefixado,2002-12-04,2002-04-19,896.277336,286.80,257052.33
...,...,...,...,...,...,...
76389,Tesouro IPCA+,2035-05-15,2012-07-09,745.583113,2304.56,1718241.01
76390,Tesouro IPCA+ com Juros Semestrais,2020-08-15,2012-07-09,2433.153350,553.70,1347237.00
76391,Tesouro IPCA+,2015-05-15,2012-07-09,1957.013392,356.17,697029.45
76392,Tesouro Prefixado,2015-01-01,2012-07-09,813.694240,658.23,535597.95
76393,Tesouro Prefixado com Juros Semestrais,2023-01-01,2012-07-10,999.113864,2379.68,2377571.27